* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'SourceSansProRegular', 'Arial', sans-serif;
  color: #000;
  font-size: 16px;
  background-color: #fff;
}

p {
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

:focus,
a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "SourceSansProRegular";
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProLight";
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansProBold";
  src: url("../fonts/SourceSansProBold/SourceSansProBold.eot");
  src: url("../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"), url("../fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

::-moz-selection {
  background-color: #a60015;
  color: white;
}

::selection {
  background-color: #a60015;
  color: white;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: #a60015;
  color: white;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pure-button,
input.pure-button {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button,
input.pure-button {
  font-family: inherit;
  font-size: 100%;
  background: linear-gradient(180deg, #bf67cb 0%, #d893e0 100%);
  text-decoration: none;
  color: white;
  transition-delay: .5s;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus,
input.pure-button:hover,
input.pure-button:focus {
  color: white;
}

.pure-button:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 7px;
  background-color: #a60015;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 7px;
  background-color: #a60015;
}

.header {
  background: url("../img/header/background.jpg") no-repeat center center;
  background-size: cover;
  height: 1220px;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/header/ellipse.png") no-repeat center center;
  height: 212px;
  width: 100%;
  z-index: 0;
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.main-navigation {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(41.66667% - 0px);
}

.header__picture {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(16.66667% - 0px);
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

.header__social {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(16.66667% - 0px);
  margin: 0 auto;
}

.header__phone {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 0px;
  margin-right: 0px;
  width: calc(16.66667% - 0px);
}

.main-navigation .menu {
  display: flex;
  justify-content: space-around;
  padding-top: 77px;
}

.main-navigation li {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
}

.main-navigation a {
  color: black;
}

.main-navigation a:hover {
  color: #a60015;
}

.sub-menu {
  background-color: rgba(255, 255, 255, 0.7);
}

.sub-menu li {
  padding: 7px;
}

.sub-menu li:last-of-type {
  border-bottom: solid 3px #a60015;
}

.main-navigation ul ul a {
  padding-left: 20px;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
  .main-navigation {
    width: calc(41.66667% - 0px);
  }

  .header__picture {
    width: calc(16.66667% - 0px);
  }

  .header__social {
    width: calc(16.66667% - 0px);
  }

  .header__phone {
    width: calc(16.66667% - 0px);
  }
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 560px) {
  .header__picture {
    width: calc(100% - 0px);
  }

  .header__social {
    width: calc(100% - 0px);
  }

  .header__phone {
    width: calc(100% - 0px);
  }
}