@import "../base/_vars";

.course {
  @include row-flex();
  padding-bottom: 50px;
  &:nth-of-type(2n+1) {
    .course__pict {
      @include col();
      @include size(3);
      @include shift-left(1);
      @include size-lg(3);
      @include shift-lg-left(1);
      @include size-md(3);
      @include shift-md-left(1);
      @include size-sm(12);
      @include shift-sm-left(0);
      @include size-xs(12);
      @include shift-xs-left(0);
    }

    .course__block {
      @include col();
      @include size(7);
      @include shift-left(1);
      @include size-lg(7);
      @include shift-lg-left(1);
      @include size-md(7);
      @include shift-md-left(1);
      @include size-sm(12);
      @include shift-sm-left(0);
      @include size-xs(12);
      @include shift-xs-left(0);
      text-align: left;
    }
  }
  &:nth-of-type(2n) {
    .course__pict {
      order: 1;
      @include col();
      @include size(3);
      @include shift-right(1);
      @include size-lg(3);
      @include shift-lg-right(1);
      @include size-md(3);
      @include shift-md-right(1);
      @include size-sm(12);
      @include shift-sm-right(0);
      @include size-xs(12);
      @include shift-xs-right(0);
    }
    .course__block {
      @include col();
      @include size(7);
      @include shift-right(1);
      @include size-lg(7);
      @include shift-lg-right(1);
      @include size-md(7);
      @include shift-md-right(1);
      @include size-sm(12);
      @include shift-sm-right(0);
      @include size-xs(12);
      @include shift-xs-right(0);
      text-align: right;
    }
  }
}

.course__pict {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course__title {
  font-size: 2.250rem;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: normal;
}

.course__desc {
  p {
    font-size: 23px;
    line-height: normal;
  }
  padding-bottom: 20px;
}

.course__price {
  font-size: 23px;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {

}

@media only screen and (max-width: 767px) {
  .course {
    &:nth-of-type(2n) {
      .course__pict {
        order: -1;
        padding-bottom: 20px;
      }
      .course__block {
        text-align: center;
      }
    }
    &:nth-of-type(2n+1) {
      .course__pict {
        padding-bottom: 20px;
      }
      .course__block {
        text-align: center;
      }
    }
  }
}