@import "../base/_vars";

.dish {
  background: url("../img/tax/back.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.dish__wrap {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.dish__pagenavi {
  text-align: center;
  padding-bottom: 50px;
  .wp-pagenavi {
    font-size: 24px;
  }
  .wp-pagenavi a, .wp-pagenavi span {
    border: none;
    color: black;
    transition-delay: .3s;
  }
  span.current{
    color: $color-main;
  }
  .wp-pagenavi a:hover{
    color: $color-main;
  }
}