@import "../base/_vars";

.hall__wrap {
  @include row-flex();
  max-width: 1280px;
  margin: 0 auto;
  min-width: 320px;
  padding-bottom: 60px;
}

.hall__title {
  @include col();
  @include size(12);
  @include size-lg(12);
  @include size-md(12);
  @include size-sm(12);
  @include size-xs(12);
  text-align: center;
  font-size: 3rem;
  padding-bottom: 60px;
  font-family: SeminariaNormal, Arial, sans-serif;
}

.hall__menu {
  @include col();
  @include size(12);
  @include size-lg(12);
  @include size-md(12);
  @include size-sm(12);
  @include size-xs(12);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.hall__link {
  font-size: 1.875rem;
  color: black;
  transition-delay: .3s;
  transition-property: color, border-color;
  border-bottom: solid 2px transparent;
  outline: none;
  &:hover {
    color: $color-main;
    border-bottom: solid 2px $color-main;
  }
  &:first-of-type {
    margin-right: 30px;
  }
}

.hall__link:visited {
  color: black;
  transition-delay: .3s;
  &:hover {
    color: $color-main;
  }
}

.hall__menu a.hall__link--active {
  color: $color-main;
}

.hall__slide {
  @include row-flex();
}

.hall__block {
  @include col();
  @include size(5);
  @include size-lg(5);
  @include size-md(5);
  @include size-sm(12);
  @include size-xs(12);
}

.hall__pict {
  @include col();
  @include size(7);
  //@include shift-left(1);
  @include size-lg(7);
  //@include shift-lg-left(1);
  @include size-md(7);
  //@include shift-md-left(1);
  @include size-sm(12);
  //@include shift-sm-left(0);
  @include size-xs(12);
  //@include shift-xs-left(0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hall__img {
  width: 100%;
  object-fit: cover;
}

.hall__text {
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.hall__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .hall__menu, .hall__wrap, .hall__title, .hall__text, .hall__pict {
    padding-bottom: 20px;
  }
  .hall__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .hall__menu, .hall__title, .hall__text, .hall__pict {
    padding-bottom: 20px;
  }
  .hall__wrap {
    padding-bottom: 40px;
  }
  .hall__pict {
    order: -1;
  }
  .hall__wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hall__text {
    display: none;
  }
}