@import "../base/_vars";

.header {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/header/ellipse.png') no-repeat center center;
    height: 212px;
    width: 100%;
    z-index: 100;
  }
}

header.header--page:before {
  background: url('../img/header/ellipse1.png') no-repeat center center;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100%;
  width: 100%;
}

.header--tax {
  .header__backimg {
    object-position: 50% 100%;
  }
  .header__wrap {
    padding-bottom: 0;
  }
  .tax__wrap {
    padding-bottom: 50px;
  }
}

.header__backimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header__wrap {
  @include row-flex();
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  min-width: 320px;
  padding-bottom: 12.5rem;
}

.header--page {
  .header__wrap {
    padding-bottom: 80px;
  }
}

.main-navigation {
  @include col();
  @include size(5);
  @include size-md(5);
}

.header__picture {
  @include col();
  @include size(2);
  @include size-lg(2);
  @include size-md(2);
  @include size-sm(12);
  @include size-xs(12);
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}

.header__social {
  @include col();
  @include size(2);
  @include size-lg(1);
  @include size-md(1);
  @include size-sm(12);
  @include size-xs(12);
  margin: 0 auto;
  padding-top: 73px;
  display: flex;
  justify-content: space-around;
}

.header__phone {
  @include col();
  @include size(2);
  @include size-lg(3);
  @include size-md(3);
  @include size-sm(12);
  @include size-xs(12);
  padding-top: 50px;
}

.main-navigation .menu {
  display: flex;
  justify-content: space-around;
  padding-top: 77px;
}

.main-navigation li {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
}

.main-navigation a {
  color: black;
  &:hover {
    color: $color-main;
  }
}

.sub-menu {
  background-color: rgba(255, 255, 255, 0.6);
}

.sub-menu li {
  padding: 7px;
  border-bottom: solid 1px white;
  a {
    color: black;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

.main-navigation ul ul a {
  padding-left: 15px;
}

.menu-item-has-children > a:after {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  position: relative;
  top: 0.45em;
  vertical-align: top;
  width: 0.45em;
  left: 0.35em;
  transform: rotate(135deg);
}

.menu-item-has-children > a svg {
  margin-left: 7px;
  font-size: 0.7em;
}

.menu-item a {
  transition: color .5s ease;
}

.main-navigation ul ul {
  border: solid 1px white;
}

.soc__url {
  svg {
    font-size: 26px;
    color: $color-main;
  }
}

.phone-number {
  color: #000000;
  font-size: 1.625rem;
  font-weight: 400;
  &:hover {
    color: lighten(black, 10%);
  }
}

@media only screen and (min-device-width: 961px) and (max-width: 1199px) {
  .header {
    height: auto;
  }
  .header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .header__phone {
    width: 20%;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 960px) {
  .header {
    height: auto;
  }
  .header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: auto;
  }
  .header__wrap {
    padding-bottom: 40px;
  }
  .main-navigation {
    display: none;
  }
  .header__phone {
    text-align: center;
    padding-top: 35px;
  }
  .header__social {
    padding-top: 35px;
    order: 1;
  }
  .phone-number {
    font-size: 35px;
    font-weight: 700;
  }
  .soc__url svg {
    font-size: 35px;
  }
  .menu-item-has-children > a:after {
    display: none;
  }
}